@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    to top,#003e63,#011d2e
  );
  
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 100px;
  /* background-color: #fff; */
  border-radius: 5px;
  /* width: 25em;
  height: 40em; */
}
.card{
    width: 45%;
    padding: 50px;
}
.or{
    font-size: 1.1rem;
    color: #a3a3a3;
    letter-spacing: .5px;
    font-weight: bold;
}

.items {
  display: flex;
  flex-direction: column;
}

.items input {
  margin-bottom: 30px;
  padding: 2px 0px;
  padding-bottom: 5px;
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1.5px solid;
  border-bottom-color: grey;
  font-weight: 700;
  color: #585858;
  opacity: 0.55;
}

.row{
    display: inline-block;
}
.img{
    width: 2rem;
    border-radius: 50%;
    margin: 3px;
}
.img:hover{
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.365);
}

#title {
  margin-bottom: 50px;
  letter-spacing: 5px;
  text-align: center;
  opacity: 0.5;
}

#button {
  padding: 20px 30px;
  margin-top: 30px;
  outline: none;
  border: none;
  font-size: medium;
  font-weight: 600;
  letter-spacing: 5px;
  border-radius: 5px;
  cursor: pointer;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(6, 215, 152, 1) 0%,
    rgba(32, 204, 158, 1) 30%,
    rgba(135, 219, 213, 1) 70%
  );
  color: grey;
}

#button:active {
  transform: translateY(2px);
}

#button text {
  opacity: 0.5;
}

#sign {
  margin-top: 4em;
  text-align: center;
  letter-spacing: 5px;
  cursor: pointer;
  color: rgb(11, 194, 142);
  font-weight: bolder;
  text-decoration: none;
}

#sign:active {
  transform: translateY(2px);
}

::placeholder {
  color: grey;
  text-align: center;
  letter-spacing: 2px;
}




@media screen and (max-width:375px){
    .card{
        width: 200% !important;
    }
}
@media screen and (min-width:375px) and (max-width:425px){
    .card{
        width: 150% !important;
    }
    .img{
        width: 3rem;
    }
}
@media screen and (min-width:425px) and (max-width:475px){
    .card{
        width: 130% !important;
    }
    .img{
        width: 3rem;
    }
}
@media screen and (min-width:425px) and (max-width:475px){
    .card{
        width: 130% !important;
    }
    .img{
        width: 3rem;
    }
}
@media screen and (min-width:475px) and (max-width:525px){
    .card{
        width: 120% !important;
    }
    .img{
        width: 3rem;
    }
}
@media screen and (min-width:525px) and (max-width:550px){
    .card{
        width: 110% !important;
    }
    .img{
        width: 3rem;
    }
}
@media screen and (min-width:550px) and (max-width:768px){
    .card{
        width: 100% !important;
    }
    .img{
        width: 3rem;
    }
}
@media screen and (min-width:768px) and (max-width:992px){
    .card{
        width: 65% !important;
    }
    .img{
        width: 3rem;
    }
}
@media screen and (min-width:992px) and (max-width:1200px){
    .card{
        width: 45% !important;
    }
    .img{
        width: 3rem;
    }
}
@media screen and (min-width:1200px){
    .card{
        width: 40% !important;
    }
    .img{
        width: 3rem;
    }
}